<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595308054674-5b6ndr5i1kbj5rpag81othvh71i8u216.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595308054674-5b6ndr5i1kbj5rpag81othvh71i8u216</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>595308054674-101c0dfj7nlibtfdi9gpude2jhuco7ku.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHzvd4dyQv9-r93HIPm7w5EmlU9TsKrH4</string>
	<key>GCM_SENDER_ID</key>
	<string>595308054674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tadweer.alkheer</string>
	<key>PROJECT_ID</key>
	<string>tadweer-alkheer</string>
	<key>STORAGE_BUCKET</key>
	<string>tadweer-alkheer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595308054674:ios:8aea32f57a69f9a9137e4b</string>
	<key>DATABASE_URL</key>
	<string>https://tadweer-alkheer-default-rtdb.firebaseio.com</string>
</dict>
</plist>